<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <table class="table table-striped text-dark">
        <thead>
          <th>Poster</th>
          <th class="d-none d-sm-table-cell">Diary Title</th>
          <th>Diary Content</th>
          <th class="d-none d-md-table-cell">created_at</th>
          <th colspan="2"></th>
        </thead>
        <%= render partial: 'posts/list', locals: {posts: @posts} %>
      </table>
      <div class="pagination justify-content-center">
        <%= paginate @posts %>
      </div>

    </div>
  </div>
</div>